{% extends "layout/layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}

    <div class="container">
        {% for cardgroup in cardgroups %} 
            <div class="row">
                {% for card in cardgroup %}
                    <div class="col-md">
                        <div class="card text-white bg-{{ card.color }} mb-3 text-dark" style="max-width: 18rem;">
                            <div class="card-header">{{ card.header }}</div>
                            <div class="card-body">
                            <h5 class="card-title">{{ card.title }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% endfor %}
    </div>
{% endblock content %}